<h2>Continental Regions</h2>
<nav>
  <a [routerLink]="['/']">Go to Regions</a>
</nav>
<section>
  <div *ngIf="infoRegion$ | async as infoRegion">
    <wb-ui-card-template [region]="infoRegion">
      <ul tpl-card-list>
        <li>ID: <span>{{ infoRegion.id }}</span></li>
        <li>ISO 2 CODE: <span>{{ infoRegion.iso2code }}</span></li>
        <li>CODE: <span>{{ infoRegion.code }}</span></li>
      </ul>
    </wb-ui-card-template>
  </div>
  <div *ngIf="dataCountries$ | async as countries">
<!--    {{ countries | json }}-->
    <wb-ui-card *ngFor="let country of countries" [info]="country"
                (infoSelected)="countrySelected($event)"></wb-ui-card>

  </div>
</section>
